  /*******************/
 /* GENERAL STYLING */
/*******************/
body {
	font-family: "Fakt", sans-serif;
	font-size: 1.1em;
	-webkit-font-smoothing: auto;

	padding: 20px;
}

body.dark {
	background-image: linear-gradient(to right, #00112C, #00112C 50%, #E8E8E8 50%);
	color: #D3D3D3;
}

body.index-page {
	font-size: 1.2em;
}

::selection {
	background: #A7A7A7;
}

.block {
	display: block;
}

.center {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.inactive, .hidden {
	visibility: hidden;
}

.display-none {
	display: none !important;
}

.center-content > * {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

  /******************/
 /* OUTPUT SECTION */
/******************/
#output {
	width: 95%;
	overflow-wrap: break-word;
}

.output-item {
	font-weight: 400;
	font-family: monospace;

	margin-bottom: 15px;

	background-color: #EEE;
}

.output-summary {
	font-size: 18px;
	font-family: Fakt;
	font-weight: 600;
	background-color: #00112C02;

	padding: 10px;

	user-select: none;
	cursor: pointer;
}

.output-subtitle {
	padding-left: 10px;
	padding-right: 10px;

	overflow: auto;
}

.output-main-body {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;

	overflow: auto;
}

.output-main-body::-webkit-scrollbar {
	width: 0;
}

/* dark theme */
body.dark .output-item {
	background-color: #2b2b2b;
}

body.dark .output-summary {
	background-color: #444;
}

body.dark .output-subtitle {
	/*color: #A8B487;*/
}

  /****************/
 /* FORM STYLING */
/****************/
.client-form {
	display: inline-block;

	padding: 10px;
	margin-left: auto;
	margin-right: auto;

	border: 2px solid;
	border-radius: 3px;
}

.client-form input[type=text] {
	float: right;
}

.client-form label {
	float: center;
	margin-right: 5px;
}

body.dark input[type=text] {
	border: 1px solid white;
}

label {
	user-select: none;
}

button, .submitBtn {
	margin-bottom: 5px;
	margin-top: 15px;

	border: 4px solid #08AB49;
	border-radius: 3px;
	background-color: #08AB49;
	color: white;

	padding: 8px;
	padding-left: 26px;
	padding-right: 26px;

	font-size: 22px;
	letter-spacing: 1px;
}

button:disabled {
	background-color: #989898;
	border: 4px solid #989898;
}

.inputHolder {
	text-align: right;
}

.index-header {
	margin-bottom: 0px;
}

.secured-fields-form {
	width: 350px;
}

.formHolder {
	display: inline-block;
	margin: 10px;
}

  /*****************/
 /* COLUMN LAYOUT */
/*****************/
.right-column {
	position: absolute;
	width: 50%;
	top: 0%;
	left: 50%;

	padding-left: 10px;
	padding-right: 10px;
}

.left-column {
	width: 50% !important;
	height: 100%;
	top: 0%;
	left: 0%;

	padding-left: 10px;
	padding-right: 10px;
}

.left-column h1 {
	color: #0ABF53;
}

body.dark .right-column {
	color: #222;
}

.fixed {
	position: fixed;
}

  /*********/
 /* 3DS 1 */
/*********/
.threeDSIframe {
	display: block;

	margin-top: 20px;
	margin-bottom: 20px;

	width: 430px;
	height: 430px;
}

  /*****************/
 /* 3DS2 ADVANCED */
/*****************/
.checkout-holder {
	width: 300px;
}

.challenge-iframe {
	border: 2px black solid;
	width: 400px;
	height: 300px;
}

  /*****************/
 /* CHECKOUT PAGE */
/*****************/
.checkout-iframe {
	border: 1px black dashed;
	width: 80%;
	height: 80%;
	text-align: center;

	animation-duration: 2s;
}

.checkout {
	margin-left: 15%;
	margin-right: 15%;
}

@keyframes shrink-checkout {
	from {
		height: 80%;
	}

	to {
		height: 100px;
	}
}

.chckt-pm__name {
	color: #0083BF !important;
}

.cardType {
	border: 2px solid;
	padding: 1px;
	display: inline-block;
	font-weight: bold;
	font-family: serif;
	margin-bottom: 5px;
}

  /**************/
 /* COMPONENTS */
/**************/
.component {
	border: 2px solid;
	padding: 15px;
	margin-bottom: 15x;
	border-radius: 10px;

	width: fit-content;
}

  /******************/
 /* SECURED FIELDS */
/******************/

/*
the default SF styling gets overwritten by the
`.right-column {position: absolute}` property
this is a hack to fix it

once I get some time I'll re-write the column layout
as a grid instead, which will hopefully fix this
*/
iframe.js-iframe {
	display: block;
	height: 25px !important;
	width: 300px !important;

	padding: 3px;
	margin-bottom: 5px;
	background-color: white;
}
