  /*******************/
 /* GENERAL STYLING */
/*******************/
body {
	font-family: "Fakt", sans-serif;
	-webkit-font-smoothing: auto;
	padding: 20px;
}

body.dark {
	background-color: #00112C;
	color: #D3D3D3;
}

::selection {
	background: #9FDBB7;
}

.block {
	display: block;
}

.center {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.inactive, .hidden {
	visibility: hidden;
}

.display-none {
	display: none !important;
}

.center-content > * {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

  /******************/
 /* OUTPUT SECTION */
/******************/
#output {
	width: 95%;
	overflow-wrap: break-word;
}

.output-item {
	font-weight: 400;
	font-family: monospace;

	margin-bottom: 15px;

	background-color: #EEE;
}

.output-summary {
	font-size: 18px;
	font-family: Fakt;
	font-weight: 600;
	background-color: #00112C02;

	padding: 10px;

	user-select: none;
	cursor: pointer;
}

.output-subtitle {
	padding-left: 10px;
	padding-right: 10px;

	overflow: auto;
}

.output-main-body {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;

	overflow: auto;
}

.output-main-body::-webkit-scrollbar {
	width: 0;
}

/* dark theme */
body.dark .output-item {
	background-color: #2b2b2b;
}

body.dark .output-summary {
	background-color: #444;
}

body.dark .output-subtitle {
	/*color: #A8B487;*/
}

  /****************/
 /* FORM STYLING */
/****************/
.client-form {
	display: inline-block;

	padding: 10px;
	margin-left: auto;
	margin-right: auto;

	border: 2px solid;
	border-radius: 3px;
}

.client-form input[type=text] {
	float: right;
}

.client-form label {
	float: center;
	margin-right: 5px;
}

body.dark input[type=text] {
	border: 1px solid white;
}

label {
	user-select: none;
}

button, .submitBtn {
	margin-bottom: 5px;
	margin-top: 15px;

	border: 4px solid #08AB49;
	border-radius: 3px;
	background-color: #08AB49;
	color: white;
	
	font-size: 16px;
	letter-spacing: 1px;
}

button:disabled {
	background-color: #989898;
	border: 4px solid #989898;
}

.inputHolder {
	text-align: right;
}

.index-header {
	margin-bottom: 0px;
}

.secured-fields-form {
	width: 350px;
}

.formHolder {
	display: inline-block;
	margin: 10px;
}

  /*****************/
 /* COLUMN LAYOUT */
/*****************/
.right-column {
	position: absolute;
    width: 50%;
    top: 0%;
    left: 50%;

    padding-left: 10px;
    padding-right: 10px;
}

.left-column {
	width: 50% !important;
	height: 100%;
	top: 0%;
	left: 0%;

	padding-left: 10px;
    padding-right: 10px;
}

.left-column h1 {
	color: #0ABF53;
}

body.dark .right-column {
	height: 100%;
	background-color: #E8E8E8;
	color: #222;
}

.fixed {
	position: fixed;
}

  /*********/
 /* 3DS 1 */
/*********/
.threeDSIframe {
	display: block;

	margin-top: 20px;
	margin-bottom: 20px;

	width: 430px;
	height: 430px;
}

  /*****************/
 /* 3DS2 ADVANCED */
/*****************/
.checkout-holder {
	width: 300px;
}

.challenge-iframe {
	border: 2px black solid;
	width: 400px;
	height: 300px;
}

  /*****************/
 /* CHECKOUT PAGE */
/*****************/
.checkout-iframe {
	border: 1px black dashed;
	width: 80%;
	height: 80%;
	text-align: center;

	animation-duration: 2s;
}

.checkout {
	margin-left: 15%;
	margin-right: 15%;
}

@keyframes shrink-checkout {
	from {
		height: 80%;
	}

	to {
		height: 100px;
	}
}

.chckt-pm__name {
	color: #0083BF !important;
}

.cardType {
	border: 2px solid;
	padding: 1px;
	display: inline-block;
	font-weight: bold;
	font-family: serif;
	margin-bottom: 5px;
}

  /**************/
 /* COMPONENTS */
/**************/
.component {
	border: 2px solid;
	padding: 15px;
	margin-bottom: 15x;
	border-radius: 10px;

	width: fit-content;
}

  /***********************/
 /* FROM SECURED FIELDS */
/***********************/
.payment-div {
	margin: 0 auto;
	width: 60%;
}

.input-container {
	float: left;
	margin-top: 8px;
	position: relative;
	width: 100%;
}

.input-field {
	border: 1px solid #dedede;
	border-radius: 2px;
	float: left;
	height: 30px;
	padding: 0 0 0 6px;
	margin-top: 6px;
	position: relative;
	width: 300px;
}

.input-label {
	float: left;
	font-family: Arial, sans-serif;
	font-weight: bold;
	position: relative;
	width: 100%;
}

.custom-field {
	float: left;
	position: relative;
	width: 300px;
}


.button--pay {
	color: #fff;
	background-color: #0abf53;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border: none;
	font-family: Arial, sans-serif;
	font-size: 16px;
	height: 40px;
	padding-top: 2px;
	margin-top: 20px;
	width: 310px;
}

.button--pay.disabled {
	pointer-events: none;
	opacity: .5;
}

.brand-container__image {
	width: 40px;
}

  /*********************/
 /* FROM CHECKOUT SDK */
/*********************/
.content {
	float: left;
	position: relative;
	width: 100%;
}

.explanation {
	margin: 20px auto 0;
	position: relative;
	width: 60%;
}

.checkout-container {
	float: left;
	margin: 0 auto;
	position: relative;
	width: 100%;
}

.form-div {
	margin: 0 auto;
	position: relative;
	width: 60%;
}

.payment-div {
	float: left;
	position: relative;
	width: 100%;
}


@media (max-width: 520px) {
	.explanation {
		width: 100%;
	}

	.form-div {
		width: 100%;
	}
}